[Unit]
Description=Cloud Servant View

[Service]
ExecStart=/usr/java/jdk1.8.0_151/bin/java -jar -Dcloud-servant-view -Xmx128m /usr/cloud-servant-view/cloud-servant-view.jar start
StandardOutput=null
StandardError=null
User=pi

[Install]
WantedBy=multi-user.target
Alias=cloud-servant.service
