<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <table id="gallery" align="center" border="0" cellspacing="5" cellpadding="0"></table>
	<table id="bigImg" align="center" cellspacing="10px">
		<tr>
			<td align="right">
				<img id="prevImg"></img>
				<img id="nextImg"></img>
				<img id="cancelImg"></img>
			</td>
		</tr>
		<tr>
			<td valign="top"><img id="bigImg"></img></td>
		</tr>
	</table>
	<div>
		<table id="loadingImgTable" align="center">
			<tr>
				<td><img id="loadingImg"></img></td>
			</tr>
		</table>
	</div>
</body>

<script>
	/////////////////// Loading image /////////////////////
	function initResourceImage(resourceDescriptor) {
		var oReq = new XMLHttpRequest();
		oReq.open("POST", "/resource-img", true);
		oReq.responseType = "arraybuffer";
		
		oReq.onload = function(oEvent) {
		  var blob = new Blob([oReq.response], {type: resourceDescriptor.type});
		  var objectURL = URL.createObjectURL(blob);
		  
		  resourceDescriptor.obj.src = objectURL;
		  
		  if(resourceDescriptor.next != null) {
		  	initResourceImage(resourceDescriptor.next);
		  } else {
		  	initGallery();
		  }
		};
		oReq.send(resourceDescriptor.name);
	}
	///////////////////////////////////////////////////////

	//////////////// gallery //////////////////////////////
	//Getting list of all images in the gallery as well as triggering 
	//loading of the images itself
	function initGallery() {
		var imgsRequest = new XMLHttpRequest();
		imgsRequest.open("GET", "/list", true);
		imgsRequest.onreadystatechange = function() {
		    if (this.readyState == 4 && this.status == 200) {
		        imgs = JSON.parse(this.responseText);
		        initImgMaps(imgs); 
		        loadAll();
		    }
		};
		imgsRequest.send();
	}

	//Load all images defined by imgs list
	function loadAll() {
		//serial number of the current image
		var index = 0;
		//serial number of the current row
		var rowIndex = 0;
		while(index < imgs.length) {
			var row = galleryTable.insertRow(rowIndex);
			//serial number of the cell
			var cellIndex = 0;
			while(index < imgs.length && cellIndex < nHc) {
				var cell = row.insertCell(cellIndex);
				var img = new Image();
		  		img.id = imgs[index];
		  		img.addEventListener("click", bigImage);
		  		cell.appendChild(img);
				
				loadImg(imgs[index]+"");
				
				cellIndex++;
				index++;
			}
			rowIndex++;
		}
	}
	
	//Load single img by its name
	//imgId is equal to the img name
	function loadImg(imgId) {
		var oReq = new XMLHttpRequest();
		oReq.open("POST", "/img", true);
		oReq.responseType = "arraybuffer";
		oReq.onload = function(oEvent) {
		  var blob = new Blob([oReq.response], {type: "image/bmp"});
		  var objectURL = URL.createObjectURL(blob);
		  
		  var img = document.getElementById(imgId);
		  img.src = objectURL;
		};
		oReq.send(imgId);
	}
	
	//init maps of <img name> -> <next img name>, 
	//			   <img name> -> <prev img name>
	function initImgMaps(imgs) {
		nextImgs = new Map();
		prevImgs = new Map();
		
		var i;
		for(i=0; i<imgs.length; i++) {
			var next = i < imgs.length - 1 ? imgs[i+1] : null;
			nextImgs.set(imgs[i], next);
			var prev = i > 0 ? imgs[i-1] : null;
			prevImgs.set(imgs[i], prev);
		}
	}
	
	///////////////////////////////////////////////////////
	
	/////////////////// Load big image ////////////////////
	function bigImage() {
		galleryTable.parentNode.removeChild(galleryTable);
				
		document.body.appendChild(loadingImgTable.parentNode);
		
		loadBigImage(this.id);
	}

	//imgName is equal to img id
	function loadBigImage(imgName) {
		//replace bmp extension to jpg
		var bigImgName = imgName.substring(0,imgName.indexOf(".")) + ".jpg";
	
		var oReq = new XMLHttpRequest();
		oReq.open("POST", "/big-img", true);
		oReq.responseType = "arraybuffer";
		
		oReq.onload = function(oEvent) {
		  var blob = new Blob([oReq.response], {type: "image/jpg"});
		  var objectURL = URL.createObjectURL(blob);
		  
		  bigImg.src = objectURL;
		  bigImg.name = imgName.substring(0,imgName.indexOf("."));
		  document.body.removeChild(loadingImgTable.parentNode);
		  document.body.appendChild(bigImgTable);
		};
		oReq.send(bigImgName);
	}
	
	function loadNextBigImg() {
		var next = nextImgs.get(bigImg.name + ".bmp");
		if(next != null) {
			bigImgTable.parentNode.removeChild(bigImgTable);
			document.body.appendChild(loadingImgTable.parentNode);
			loadBigImage(next);
		}
	}
	
	function loadPrevBigImg() {
		var prev = prevImgs.get(bigImg.name + ".bmp");
		if(prev != null) {
			bigImgTable.parentNode.removeChild(bigImgTable);
			document.body.appendChild(loadingImgTable.parentNode);
			loadBigImage(prev);
		}
	}
	///////////////////////////////////////////////////////

	/////////////////// Cancel button /////////////////////
	function closeBigImg() {
		bigImgTable.parentNode.removeChild(bigImgTable);
		document.body.appendChild(galleryTable);
	}
	///////////////////////////////////////////////////////
	
	/////////////////// Helpers  //////////////////////////
	function findById(id, elements) {
		var i;
		for(i=0; i<elements.length; i++) {
			if(elements[i].id == id) {return elements[i];}
		}
		return null;
	}
	///////////////////////////////////////////////////////
	
	/////////////////// global  space /////////////////////
	var iw = window.innerWidth;
	var ih = window.innerHeight;
	//number of horizontal cells in gallery table
	var nHc = Math.floor(iw/200);
	
	//consider table cellspacing
	while((nHc*200 + nHc*5*2) > iw) {
		nHc--;
	} 
	
	var galleryTable = document.getElementById("gallery");
	var bigImgTable = document.getElementById("bigImg");
	document.body.removeChild(bigImgTable);
	var loadingImgTable = document.getElementById("loadingImgTable");
	document.body.removeChild(loadingImgTable.parentNode);
	loadingImgTable.parentNode.style.marginTop = Math.floor(ih/3) + "px";
	
	var bigImg = findById("bigImg", bigImgTable.getElementsByTagName("img"));
	bigImg.width = iw-100;
	
	var cancelImg = findById("cancelImg", bigImgTable.getElementsByTagName("img"));
	cancelImg.width = Math.floor(bigImg.width/10);
	cancelImg.addEventListener("click", closeBigImg);
	
	var prevImg = findById("prevImg", bigImgTable.getElementsByTagName("img"));
	prevImg.width = Math.floor(bigImg.width/10);
	prevImg.addEventListener("click", loadPrevBigImg);
	
	var nextImg = findById("nextImg", bigImgTable.getElementsByTagName("img"));
	nextImg.width = Math.floor(bigImg.width/10);
	nextImg.addEventListener("click", loadNextBigImg);
	
	//before big image is loaded loading image is shown
	var loadingImg = loadingImgTable.getElementsByTagName("img")[0];
	
	//is populated during gallery loading
	var imgs;
	//map of <img name> -> <next img name>
	var nextImgs;
	//map of <img name> -> <prev img name>
	var prevImgs;
	///////////////////////////////////////////////////////

	var loadingDescriptor = new Object();
	loadingDescriptor.obj=loadingImg;
	loadingDescriptor.type="image/gif";
	loadingDescriptor.name="loading.gif";
	loadingDescriptor.next = null;
	
	var cancelDescriptor = new Object();
	cancelDescriptor.obj=cancelImg;
	cancelDescriptor.type="image/png";
	cancelDescriptor.name="cancel.png";
	cancelDescriptor.next = null;
	
	var prevImgDescriptor = new Object();
	prevImgDescriptor.obj=prevImg;
	prevImgDescriptor.type="image/png";
	prevImgDescriptor.name="left.png";
	prevImgDescriptor.next=null;
	
	var nextImgDescriptor = new Object();
	nextImgDescriptor.obj=nextImg;
	nextImgDescriptor.type="image/png";
	nextImgDescriptor.name="right.png";
	nextImgDescriptor.next=null;
	
	loadingDescriptor.next = cancelDescriptor;
	cancelDescriptor.next = prevImgDescriptor;
	prevImgDescriptor.next = nextImgDescriptor;
	
	initResourceImage(loadingDescriptor);

</script>

</html>