<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	<div style="position:relative; margin-bottom:20px;">
		<form action="/logout" method="post">
			<input type="submit" value="Logout" style="width: 150px; height: 80px">
		</form>
	</div>
    
    <table id="directories" align="center" border="0" cellspacing="5" cellpadding="0"></table>
    <table id="gallery" align="center" border="0" cellspacing="5" cellpadding="0"></table>
	<table id="bigImg" align="center" cellspacing="10px">
		<tr>
			<td align="right">
				<img id="prevImg"></img>
				<img id="nextImg"></img>
				<img id="cancelImg"></img>
			</td>
		</tr>
		<tr>
			<td valign="top"><img id="bigImg"></img></td>
		</tr>
	</table>
	<div>
		<table id="loadingImgTable" align="center">
			<tr>
				<td><img id="loadingImg"></img></td>
			</tr>
		</table>
	</div>
</body>

<script>
	/////////////////// Loading image /////////////////////
	function initResourceImage(resourceDescriptor) {
		var oReq = new XMLHttpRequest();
		oReq.open("POST", "/resource-img", true);
		oReq.responseType = "arraybuffer";
		
		oReq.onload = function(oEvent) {
		  var blob = new Blob([oReq.response], {type: resourceDescriptor.type});
		  var objectURL = URL.createObjectURL(blob);
		  
		  resourceDescriptor.obj.src = objectURL;
		  
		  if(resourceDescriptor.next != null) {
		  	initResourceImage(resourceDescriptor.next);
		  } else {
		  	initGallery();
		  }
		};
		oReq.send(resourceDescriptor.name);
	}
	///////////////////////////////////////////////////////

	//////////////// gallery + dirs navigation ////////////
	//Getting list of all images in the gallery together 
	//with dirs navigation section as well as triggering 
	//loading of the images itself
	function initGallery() {
		var imgsRequest = new XMLHttpRequest();
		imgsRequest.open("GET", "/list?path="+currentPath, true);
		imgsRequest.onreadystatechange = function() {
		    if (this.readyState == 4 && this.status == 200) {
		        //process dirs
		        var dirs = JSON.parse(this.responseText).dirs;
		        initDirectories(dirs);
		        
		        imgs = JSON.parse(this.responseText).files;
		        initImgMaps(imgs); 
		        loadImg(0,0,0);
		    }
		};
		imgsRequest.send();
	}
	
	//Loads single img, creates img element and inserts it
	//and then recursively invokes itself to load next image from
	//the imgs list.
	function loadImg(index, rowIndex, cellIndex) {
		if(index == imgs.length) {return;}
		var imgId = imgs[index];
	
		var oReq = new XMLHttpRequest();
		oReq.open("POST", "/img", true);
		oReq.responseType = "arraybuffer";
		oReq.onload = function(oEvent) {
		  var blob = new Blob([oReq.response], {type: "image/bmp"});
		  var objectURL = URL.createObjectURL(blob);
		  
		  // select or create row		  
		  var row = null;
		  if(cellIndex == 0) {
		  	//new row is started
		  	row = galleryTable.insertRow(rowIndex);
		  } 
		  else {row = galleryTable.rows[rowIndex];}
		  
		  // create image object
		  var img = new Image();
		  img.id = imgs[index];
		  img.row = row;
		  img.cellIndex = cellIndex;
		  img.onload  = cellIndex == nHc-1 || index == imgs.length-1 ? resizeRow : null;
		  img.src = objectURL;
		  img.addEventListener("click", bigImage);
		  
		  //create cell and pass control further down the recursion chain			  
		  var cell = row.insertCell(cellIndex);
		  cell.appendChild(img);
		  if(cellIndex < nHc-1) {loadImg(++index, rowIndex, ++cellIndex);}
		  else {loadImg(++index, ++rowIndex, 0);}
		};
		
		oReq.send(currentPath + imgId);
	}
	
	//when a single row is completely filled with the images,
	//find the minimum height amongst them and change their height
	//to this minimum value
	function resizeRow() {
	  var i;
	  var min = 2147483647;
	  for(i=0; i<this.row.cells.length; i++) {
	  	var h = this.row.cells[i].childNodes[0].height;
	  	min = min >= h ? h : min;
	  }
	  for(i=0; i<this.row.cells.length; i++) {
	    this.row.cells[i].childNodes[0].height = min;		  
	  }
	}
	
	//init maps of <img name> -> <next img name>, 
	//			   <img name> -> <prev img name>
	function initImgMaps(imgs) {
		nextImgs = new Map();
		prevImgs = new Map();
		
		var i;
		for(i=0; i<imgs.length; i++) {
			var next = i < imgs.length - 1 ? imgs[i+1] : null;
			nextImgs.set(imgs[i], next);
			var prev = i > 0 ? imgs[i-1] : null;
			prevImgs.set(imgs[i], prev);
		}
	}
	
	///////////////////////////////////////////////////////
	
	/////////////////// Directories list //////////////////
	//exposes list of existed directories for the current directory.
	function initDirectories(dirs) {
		var i = 0;
		var rowIndex = 0;
		while(i < dirs.length) {
			row = dirTable.insertRow(rowIndex);
			
			for(var cellIndex = 0; cellIndex<nHc; cellIndex++) {
				if(i == dirs.length) break;
				
				var dirName;
				//Special case for the first element.
				//First element is folder back to the previous directory
				if(cellIndex == 0 && rowIndex == 0) {
					if(currentPath.localeCompare("/") != 0) {
						//"back" value
						dirName = dirs[i]; 
					} else {
						i++;
						dirName = dirs[i];
					}
				} else {
					dirName = dirs[i];
				}				
				i++;
				
				//<div style="position: relative;">
				//	<div style="text-align: center;">
				//		<img src="blob:http://92.115.183.17:53131/6d0a2264-0150-41a7-b865-9d66346a6fcb">
				//	</div>
				//	<span>nastia_fotoset_03</span>
				//</div>
				
				var div0 = document.createElement("div");
				div0.style = "position: relative;"
				var div1 = document.createElement("div");
				div1.style = "text-align: center;";
				var span = document.createElement("span");
				span.textContent = dirName;
				
				div0.appendChild(div1);
				div0.appendChild(span);
				
				var localDirImg = new Image();
				localDirImg.src = dirImg.src;
				div1.append(localDirImg);
				changeDirHandler(div1, dirName);
				
				var cell = row.insertCell(cellIndex);
		  		cell.appendChild(div0);
			}
			rowIndex++;
		}
	}
	
	//Allows directory navigation(in depth traversal). When directory changes, change current path
	//and dispose gallery and dirs objects
	function changeDirHandler(element, dirName) {
		element.addEventListener('click', function() {
			if(dirName.localeCompare("back") == 0) {
				//special case of back path (move to parent directory)
				//calculate path
				currentPath = currentPath.substring(0, currentPath.lastIndexOf("/"));
				currentPath = currentPath.substring(0, currentPath.lastIndexOf("/")+1);
			} else {
				currentPath += dirName + "/";
			}
			
			disposeDirs();
			disposeImgs();
			
			initGallery();
		});
	}
	
	///////////////////////////////////////////////////////
	
	/////////////////// Load big image ////////////////////
	function bigImage() {
		galleryTable.parentNode.removeChild(galleryTable);
				
		document.body.appendChild(loadingImgTable.parentNode);
		
		loadBigImage(this.id);
	}

	//imgName is equal to img id
	function loadBigImage(imgName) {
		//replace bmp extension to jpg
		var bigImgName = imgName.substring(0,imgName.indexOf(".")) + ".jpg";
	
		var oReq = new XMLHttpRequest();
		oReq.open("POST", "/big-img", true);
		oReq.responseType = "arraybuffer";
		
		oReq.onload = function(oEvent) {
		  var blob = new Blob([oReq.response], {type: "image/jpg"});
		  var objectURL = URL.createObjectURL(blob);
		  
		  bigImg.src = objectURL;
		  bigImg.name = imgName.substring(0,imgName.indexOf("."));
		  document.body.removeChild(loadingImgTable.parentNode);
		  document.body.appendChild(bigImgTable);
		};
		oReq.send(currentPath + bigImgName);
	}
	
	function loadNextBigImg() {
		var next = nextImgs.get(bigImg.name + ".bmp");
		if(next != null) {
			bigImgTable.parentNode.removeChild(bigImgTable);
			document.body.appendChild(loadingImgTable.parentNode);
			loadBigImage(next);
		}
	}
	
	function loadPrevBigImg() {
		var prev = prevImgs.get(bigImg.name + ".bmp");
		if(prev != null) {
			bigImgTable.parentNode.removeChild(bigImgTable);
			document.body.appendChild(loadingImgTable.parentNode);
			loadBigImage(prev);
		}
	}
	///////////////////////////////////////////////////////

	/////////////////// Cancel button /////////////////////
	function closeBigImg() {
		bigImgTable.parentNode.removeChild(bigImgTable);
		document.body.appendChild(galleryTable);
	}
	///////////////////////////////////////////////////////
	
	////// Dispose imgs/gallery and dirs tables ///////////
	function disposeDirs() {
		for (var i = dirTable.rows.length-1; i > -1; i--) {
    		dirTable.deleteRow(i);
		}
	}
	
	function disposeImgs() {
		for (var i = galleryTable.rows.length-1; i > -1; i--) {
    		galleryTable.deleteRow(i);
		}
		
		imgs = undefined;
		nextImgs = undefined;
		prevImgs = undefined;
	}
	///////////////////////////////////////////////////////
	
	/////////////////// Helpers  //////////////////////////
	function findById(id, elements) {
		var i;
		for(i=0; i<elements.length; i++) {
			if(elements[i].id == id) {return elements[i];}
		}
		return null;
	}
	///////////////////////////////////////////////////////
	
	/////////////////// global  space /////////////////////
	var iw = window.innerWidth;
	var ih = window.innerHeight;
	//number of horizontal cells in gallery table
	var nHc = Math.floor(iw/200);
	
	//consider table cellspacing
	while((nHc*200 + nHc*5*2) > iw) {
		nHc--;
	} 
	
	var galleryTable = document.getElementById("gallery");
	var bigImgTable = document.getElementById("bigImg");
	document.body.removeChild(bigImgTable);
	var loadingImgTable = document.getElementById("loadingImgTable");
	document.body.removeChild(loadingImgTable.parentNode);
	loadingImgTable.parentNode.style.marginTop = Math.floor(ih/3) + "px";
	var dirTable = document.getElementById("directories");
	
	var bigImg = findById("bigImg", bigImgTable.getElementsByTagName("img"));
	bigImg.width = iw-100;
	
	var cancelImg = findById("cancelImg", bigImgTable.getElementsByTagName("img"));
	cancelImg.width = Math.floor(bigImg.width/10);
	cancelImg.addEventListener("click", closeBigImg);
	
	var prevImg = findById("prevImg", bigImgTable.getElementsByTagName("img"));
	prevImg.width = Math.floor(bigImg.width/10);
	prevImg.addEventListener("click", loadPrevBigImg);
	
	var nextImg = findById("nextImg", bigImgTable.getElementsByTagName("img"));
	nextImg.width = Math.floor(bigImg.width/10);
	nextImg.addEventListener("click", loadNextBigImg);
	
	//before big image is loaded loading image is shown
	var loadingImg = loadingImgTable.getElementsByTagName("img")[0];
	
	//img object for dir image
	var dirImg = new Image();
	
	//is populated during gallery loading
	var imgs;
	//map of <img name> -> <next img name>
	var nextImgs;
	//map of <img name> -> <prev img name>
	var prevImgs;
	
	var currentPath = "/";
	///////////////////////////////////////////////////////

	var loadingDescriptor = new Object();
	loadingDescriptor.obj=loadingImg;
	loadingDescriptor.type="image/gif";
	loadingDescriptor.name="loading.gif";
	loadingDescriptor.next = null;
	
	var cancelDescriptor = new Object();
	cancelDescriptor.obj=cancelImg;
	cancelDescriptor.type="image/png";
	cancelDescriptor.name="cancel.png";
	cancelDescriptor.next = null;
	
	var prevImgDescriptor = new Object();
	prevImgDescriptor.obj=prevImg;
	prevImgDescriptor.type="image/png";
	prevImgDescriptor.name="left.png";
	prevImgDescriptor.next=null;
	
	var nextImgDescriptor = new Object();
	nextImgDescriptor.obj=nextImg;
	nextImgDescriptor.type="image/png";
	nextImgDescriptor.name="right.png";
	nextImgDescriptor.next=null;
	
	var dirImgDescriptor = new Object();
	dirImgDescriptor.obj=dirImg;
	dirImgDescriptor.type="image/png";
	dirImgDescriptor.name="dir.png";
	dirImgDescriptor.next=null;
	
	loadingDescriptor.next = cancelDescriptor;
	cancelDescriptor.next = prevImgDescriptor;
	prevImgDescriptor.next = nextImgDescriptor;
	nextImgDescriptor.next = dirImgDescriptor;
	
	initResourceImage(loadingDescriptor);

</script>

</html>