<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <table id="bmp-gallery" align="center" border="0" cellspacing="5" cellpadding="0"></table>
    <table id="jpg-gallery" align="center" border="0" cellspacing="5" cellpadding="0" 
    	   style="margin-top: 30px;"></table>
  	<table id="other-gallery" align="center" border="0" cellspacing="5" cellpadding="0" 
    	   style="margin-top: 30px;"></table>
	<table id="bigImgTable" align="center" cellspacing="10px">
		<tr>
			<td align="center">
				<img id="prevImg"></img>
				<img id="nextImg"></img>
				<img id="cancelImg"></img>
			</td>
		</tr>
		<tr>
			<td valign="top"><img id="bigImg"></img></td>
		</tr>
	</table>
	<div>
		<table id="loadingImgTable" align="center">
			<tr>
				<td><img id="loadingImg"></img></td>
			</tr>
		</table>
	</div>
	<img id="jpgIconImg"></img>
	<img id="otherIconImg"></img>
</body>

<script type="text/javascript" src="/js/big-image.js"></script>
<script type="text/javascript" src="/js/gallery.js"></script>

<script>
	/////////////////// Loading image /////////////////////
	function initResourceImage(resourceDescriptor, bigImageControl) {
		var oReq = new XMLHttpRequest();
		oReq.open("POST", "/sharing/resource-img", true);
		oReq.responseType = "arraybuffer";
		
		oReq.onload = function(oEvent) {
		  var blob = new Blob([oReq.response], {type: resourceDescriptor.type});
		  var objectURL = URL.createObjectURL(blob);
		  
		  resourceDescriptor.obj.src = objectURL;
		  
		  if(resourceDescriptor.next != null) {
		  	initResourceImage(resourceDescriptor.next, bigImageControl);
		  } else {
		  	initGalleries(bigImageControl);
		  }
		};
		oReq.send(resourceDescriptor.name);
	}
	
	// Getting the list of all images for bmp-gallery, jpg-gallery 
	// and dirs navigation section. Hand over control to dirs 
	// navigation section and bmp-gallery, jpg-gallery 
	// initialization methods 
	function initGalleries(bigImageControl) {
		var imgsRequest = new XMLHttpRequest();
		imgsRequest.open("POST", "/sharing/list", true);
		imgsRequest.onreadystatechange = function() {
		    if (this.readyState == 4 && this.status == 200) {
		    	//init images
    			var bmpImgs = JSON.parse(this.responseText).bmps;
    			var jpgImgs = JSON.parse(this.responseText).jpgs;
    			//init non images
    			var others = JSON.parse(this.responseText).others;
			    
			    initBmpGallery(bigImageControl, bmpImgs);
			    initJpgGallery(bigImageControl, jpgImgs);
			    initOtherGallery(others);
		    }
		};
		imgsRequest.send(currentPath);
	}
	///////////////////////////////////////////////////////
	
	/////////////////// global  space /////////////////////
	var loadBmpImgUrl = '/sharing/img';
	var loadBigJpgUrl = '/sharing/big-img';
	var otherUrl = '/sharing/other';
	
	var iw = window.innerWidth;
	var ih = window.innerHeight;
	//number of horizontal cells in bmp-gallery table
	var nHc = Math.floor(iw/200);
	
	//consider table cellspacing
	while((nHc*200 + nHc*5*2) > iw) {
		nHc--;
	} 
	
	// table for unprocessed(exists paired .bmp image) .jpg images
	var bmpGalleryTable = document.getElementById("bmp-gallery");
	// table for unprocessed(no paired .bmp image) .jpg images
	var jpgGalleryTable = document.getElementById("jpg-gallery");
	// table for non-image files
	var otherGalleryTable = document.getElementById("other-gallery");
	
	var bigImageControl = new BigImageControl(bmpGalleryTable, 
											  jpgGalleryTable, 
											  otherGalleryTable,
											  null,
											  null,
											  null,
											  iw,
											  ih);
	
	// common img for all unprocessed .jpg images
	var jpgIconImg = document.getElementById("jpgIconImg");
	document.body.removeChild(jpgIconImg);
	
	// common img for all non-image files
	var otherIconImg = document.getElementById("otherIconImg");
	document.body.removeChild(otherIconImg);
	
	var currentPath = "/";
	///////////////////////////////////////////////////////

	var loadingDescriptor = new Object();
	loadingDescriptor.obj=bigImageControl.loadingImg;
	loadingDescriptor.type="image/gif";
	loadingDescriptor.name="loading.gif";
	loadingDescriptor.next = null;
	
	var cancelDescriptor = new Object();
	cancelDescriptor.obj=bigImageControl.cancelImg;
	cancelDescriptor.type="image/png";
	cancelDescriptor.name="cancel.png";
	cancelDescriptor.next = null;
	
	var prevImgDescriptor = new Object();
	prevImgDescriptor.obj=bigImageControl.prevImg;
	prevImgDescriptor.type="image/png";
	prevImgDescriptor.name="left.png";
	prevImgDescriptor.next=null;
	
	var nextImgDescriptor = new Object();
	nextImgDescriptor.obj=bigImageControl.nextImg;
	nextImgDescriptor.type="image/png";
	nextImgDescriptor.name="right.png";
	nextImgDescriptor.next=null;
	
	var jpegIconImgDescriptor = new Object();
	jpegIconImgDescriptor.obj=jpgIconImg;
	jpegIconImgDescriptor.type="image/png";
	jpegIconImgDescriptor.name="jpeg-icon.png";
	jpegIconImgDescriptor.next=null;

	var otherIconImgDescriptor = new Object();
	otherIconImgDescriptor.obj=otherIconImg;
	otherIconImgDescriptor.type="image/png";
	otherIconImgDescriptor.name="other-icon.png";
	otherIconImgDescriptor.next=null;

	loadingDescriptor.next = cancelDescriptor;
	cancelDescriptor.next = prevImgDescriptor;
	prevImgDescriptor.next = nextImgDescriptor;
	nextImgDescriptor.next = jpegIconImgDescriptor;
	jpegIconImgDescriptor.next = otherIconImgDescriptor;
	
	initResourceImage(loadingDescriptor, bigImageControl);

</script>

</html>